@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: white;
  background: rgb(245, 245, 245);
  /* rgb(40, 40, 40) */
  font-family: "Nunito", sans-serif;
  position: relative;
  height: 100dvh;
  overflow-y: hidden;
  /* height: calc(100vh - 46px); */
}
.right {
  display: flex;
}
.skeleton span{
  width: 1200px;
    display: flex;
    overflow-x: hidden;
    /* overflow-y: hidden; */
}
@media (max-width: 900px) {
  .chatbox {
    height: calc(100dvh - 126px);
  }
}
